.header{
    background: url(../../assets/img/Logo_SMSGroup.svg) no-repeat center left #2e3135;
    z-index: 900;
    height: 60px;
    background-size: 160px;
    cursor: pointer;
    margin : 0;
    padding: 0 10px;
    background-position: 1%
}